@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* * {
    border: 1px solid red;
}  */

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #E6A4B4;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}